@media (max-width: 720px){
    #btn-mobile{
        display: block;
    }
    #menu{
        display: block;
        position: absolute;
        wodth: 100%;
        top: 70px;
        right: 0;
        backrground-color: black;
        height: 0;
        z-index: 1000;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid blue;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
    }
    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }
    #nav.active #hamburguer{
        border-top-color: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        margin-left: 20px;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 30px;
    }
    form{
        margin: 0 auto;
        width: 100%;
        
    }
    input{
        align-self: center;
    }
    img{
        display: none;
    }
    ul{
        text-align: center;
        
        
    }
    li{
        display: inline-block;
        list-style: none;
    }
}
