@media (max-width: 720px){
    body{
        display: flex;
        flex-direction: column;
    }
    header{
        flex-direction: column;
    }
    main{
        flex-direction: column;
        margin-left: 20px;
    }
    aside{
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 38px;
    }
    h2{
        font-size: 30px;
    }
   form{
        margin: 0 auto;
        width: 100%;
        
    }
    form input{
        width: 80%;

    }
    article{
        margin: 10px 0;
    }
     img{
        display: flex;
        width: 300px;
        height: 300px;
    }
    ul{
        text-align: center;
        
        
    }
    li{
        display: inline-block;
    }
}
